@model ConfirmViewModel
@{
    ViewBag.Title = "Confirm Account";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2>Confirm your account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Code" class="form-control" aria-required="true" />
                <label asp-for="Code">Verification Code</label>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <button id="confirmSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Confirm account</button>
        </form>
    </div>
</div>